@using System.Web.Optimization
@using MVC_with_requirejs;
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>
<div id="page1">
    
    @Html.Partial("_PartialTwo")
    @Html.Partial("_PartialOne")

</div>

@section scripts
{
    @Scripts.Render("~/bundles/viewmodels")
}


